<div id="toolbar">
    <% if defined?(collections) %>
        <a href="/collections/new" class="btn primary">+ Add Collection</a>
    <% else %>
        <a href="/iotas/new" class="btn primary">+ Add Entry</a>
    <% end %>
    <a href="#" class="btn">Edit</a>
    <a href="#" class="btn">Delete</a>
    <div class="toolbar-sep"></div>
    <a href="#" class="btn">Attach file</a>
    <a href="#" class="btn">Export</a>
    <div id="view-toggle">
        View:
        <a href="#" class="active">list</a>
        <a href="#">table</a>
        <a href="#">grid</a>
    </div>
</div>