<div id="footer">
    ARK &mdash; personal archive &mdash;
    <a href="#">about</a> &middot;
    <a href="<%= GITHUB_REPO %>" target="_blank">github</a> &middot;
    <a href="#">export</a> &mdash;
    <%= get_iotas.size %> entries across <%= get_collections.size %> collections
</div>