<div id="pagination">
    <a href="#">&laquo; prev</a>
    <span class="current">1</span>
    <a href="#">2</a>
    <a href="#">3</a>
    <span class="gap">&hellip;</span>
    <a href="#">18</a>
    <a href="#">next &raquo;</a>
    <span style="margin-left: 10px; border: none; background: none; font-size: 11px; color: #888;">showing 1&ndash;20 of 342</span>
</div>